{% load static %}
{% load widget_tweaks %}
<div id="outer">
    <div id="wrapper">
        <!--Contents-->
        <div>
            <h1>{{restaurant.name}}</h1>
            <br>
        </div>
        <br>
        <hr>
        <form action="{% url 'addreview' restaurant.name %}" method="post">
            {% csrf_token %}

            <div>
                <h6>Your overall rating of the restaurant</h6>
                <label class="rating">
                    <input type="radio" name="rating" value="1" checked>
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rating">
                    <input type="radio" name="rating" value="2">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rating">
                    <input type="radio" name="rating" value="3">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rating">
                    <input type="radio" name="rating" value="4">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rating">
                    <input type="radio" name="rating" value="5">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
            </div>
            <br>

            <div>
                <h6>How clean is this restaurant?</h6>
                <label>
                    <input type="radio" name="health_rating" value="1" checked>
                    <div class="price"><i class="fas fa-dollar-sign"></i></div>
                </label>
                <label>
                    <input type="radio" name="health_rating" value="2">
                    <div class="price"><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></div>
                </label>
                <label>
                    <input type="radio" name="health_rating" value="3">
                    <div class="price"><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></div>
                </label>
                <br><br>
            </div>

            <div class="fieldWrapper">
                <h6>Title of your review</h6>
                {% render_field form.title class="form-control" placeholder="Summarize your visit or highlight an interesting detail" %}
            </div><br>
            <div class="fieldWrapper">
                <h6>Your review</h6>
                {% render_field form.comment class="form-control" placeholder="Tell people about the food, atmosphere, service, etc." %}
            </div><br>

            <input type="submit" value="Submit your review" class="btn btn-success"
                style="font-weight: 500; margin-bottom: 50px">
            <br>

        </form>
    </div>
</div>