option_settings:
  aws:elasticbeanstalk:application:environment:
    GDAL_LIBRARY_PATH: "/home/ec2-user/miniconda3/envs/gdal-env/lib/libgdal.so.26"
    PROJ_LIB: "/home/ec2-user/miniconda3/envs/gdal-env/lib/libproj.so.15"
    LD_LIBRARY_PATH: "/home/ec2-user/miniconda3/envs/gdal-env/lib:$LD_LIBRARY_PATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: CleanBites.wsgi:application

container_commands:
  01_set_ld_library_path:
    command: "echo 'export LD_LIBRARY_PATH=/home/ec2-user/miniconda3/envs/gdal-env/lib:$LD_LIBRARY_PATH' >> /etc/profile.d/ld_library_path.sh && chmod +x /etc/profile.d/ld_library_path.sh"
  02_fix_gdal_permissions:
    command: "chmod -R 755 /home/ec2-user/miniconda3/envs/gdal-env/lib/"
  03_fix_gdal_symlink:
    command: "chmod 755 /home/ec2-user/miniconda3/envs/gdal-env/lib/libgdal.so.26.0.2"
  04_fix_gdal_ownership:
    command: "chown -R ec2-user:ec2-user /home/ec2-user/miniconda3/envs/gdal-env/"
  05_set_ld_library_path:
    command: "echo 'Environment=\"LD_LIBRARY_PATH=/home/ec2-user/miniconda3/envs/gdal-env/lib:$LD_LIBRARY_PATH\"' >> /etc/systemd/system/web.service && sudo systemctl daemon-reload && sudo systemctl restart web"